<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" 
              integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
              crossorigin="anonymous">
        <title> Анализатор страниц </title>
    </head>

    <body class="min-vh-100 d-flex flex-column">
        <header class="flex-shrink-0">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark px-3">
                <a class="navbar-brand" href="/">Анализатор страниц</a>
                <div id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/urls">Сайты</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'warning' %}
                    <div class="alert alert-info" role="alert">
                    {% elif category == 'success_add' %}
                    <div class="alert alert-success" role="alert">
                    {% elif category == 'success_check' %}
                    <div class="alert alert-success" role="alert">
                    {% elif category == 'error' %}
                    <div class="alert alert-danger" role="alert">
                    {% endif %} 
                        {{ message }}
                    </div>
                    </div>
                    </div>
                    </div>
                {% endfor %}
            {% endif %}
                    
        <main class="flex-grow-1">
            <div class="container-lg mt-3">
                {% for elem in data %}
                <h1>Сайт: {{elem[1]}}</h1>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover text-nowrap" data-test="url">
                        <tbody>
                            <tr>
                                <td>ID</td>
                                <td>{{ elem[0] }}</td>
                            </tr>
                            <tr>
                                <td>Имя</td>
                                <td>{{ elem[1] }}</td>
                            </tr>
                            <tr>
                                <td>Дата создания</td>
                                <td>{{ elem[2] }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
                
                <h2 class="mt-5 mb-3">Проверки</h2>
                <form action="{{ url_for('check_urls', url_id=data[0][0]) }}" method="post"> 
                    <input type="submit" class="btn btn-primary" value="Запустить проверку">
                </form>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover mt-2" data-test="checks url">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Код ответа</th>
                                <th>h1</th>
                                <th>title</th>
                                <th>description</th>
                                <th>Дата создания</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if info %}
                        {% for elem in info %}
                            <tr>
                                <td>{{ elem[0] }}</td>
                                <td>{{ elem[2] }}</td>
                                <td>{{ elem[3] }}</td>
                                <td>{{ elem[4] }}</td>
                                <td>{{ elem[5] }}</td>
                                <td>{{ elem[6] }}</td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <footer class="border-top py-3 mt-5 flex-shrink-0">
            <div class="container-lg">
                <div class="text-center">
                    <a href="https://ru.hexlet.io/" target="_blank">Hexlet</a>
                </div>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
                crossorigin="anonymous"></script>
    </body>
</html>